@charset "UTF-8";

body{
    background-color: #000000;
}

h1{
    color: rgb(219, 215, 215);
}

strong{
    color: blue;
}

p{
    color:darkgray;
    
}

main > a{
    padding: 50px;
    color: green;
    text-decoration: none;
    text-align: center;
}

main > a:hover{
    color: red
}

img{
    text-align:center;
    padding: 50px;
}

