body{
    background-color: black;
    color: white;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolt;
}


strong{
    color: aqua;
}

span{
    color: #22D4FD;
            border: 1px solid #22D4FD;
            padding: 2px;
}

