@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    color: #F6F6F6;
}



h1{
    padding: 20px;   
    text-align: center;
}

strong{
    color: rgb(34, 212, 253);
}

p{
    padding: 20px;
    text-align: center;
}

main > div{
    display: block;
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
}

footer > a{
    margin: 20px;
    background-color: rgb(34, 212, 253);
    border-radius: 5px;
    padding: 5px;
    display: block;
    text-align: center;
    color: rgb(0, 0, 0);
}

footer > a:hover{
    color: red;
}


